body {
    font-family: Futura;
    color: white;
    background: url("../../static/Documents/background.jpg") no-repeat fixed center center;
    background-size: cover;
}

table {
    border: 3px solid saddlebrown;
    border-radius: 5px;
    width: 80%;
    background-color: rgba(214, 184, 150, 0.8);
    color: black;
    empty-cells: hide;
    text-align: center;
    margin: 10px;

}

tr {
    border: 1px solid saddlebrown;
    text-align: center;
}

td {
    border: 1px solid saddlebrown;
    padding: 10px;
    font-size: 20px;
    color: black;
}

img {
    height: 100px;
    position: center;
    opacity: 1;
}


