body {
    background-image: url("../../static/Documents/background.jpg");
    font-family: Futura;
    color: white;
}

table {
    border: 3px solid saddlebrown;
    border-radius: 5px;
    width: 80%;
    background-color: lightyellow;
    opacity: 0.7;
    color: black;
    empty-cells: hide;
    text-align: center;

}

tr {
    border: 1px solid saddlebrown;
    text-align: center;
}

td {
    border: 1px solid saddlebrown;
    padding: 10px;
    font-size: 20px;
    color: black;
}

img {
    height: 100px;
    position: center;
    opacity: 1;
}

href {
    color: black;
}