{% extends 'Documents/base.html'  %}
{% load staticfiles %}
{% block body  %}

<link rel="stylesheet" type="text/css" href="{% static 'UserCards/edit_style.css' %}"/>

<style>
    .container {
        background-color: rgba(214, 184, 150, 0.8);
        color: saddlebrown;
        font-size: 15px;
        margin:0 auto;
        overflow:visible;
        position:absolute;
        left: 30%;
        top: 20%;
        width: 40%;
        border-radius: 10px;
    }

    h2 {
        color: black;
        font-size: 40px;
        text-align: center;
    }

    .button {
        width: 40%;
        font-size: 25px;
        margin: 15px 15px 15px 30%;
    }

</style>


<h2>User list</h2>

<div class="container">
    <ul>
        {% for user in users %}
        <li><a href="/user/?id={{user.id}}">{{user}}</a></li>
        {% endfor %}
    </ul>
</div>

{% endblock  %}
