{% extends 'Documents/base.html' %}
{% load staticfiles %}
{% block body  %}

<link rel="stylesheet" type="text/css" href="{% static 'UserCards/usercards_style.css' %}"/>

<style>
    .container {
        background-color: rgba(214, 184, 150, 0.8);
        color: saddlebrown;
        font-size: 15px;
        overflow:visible;
        position:absolute;
        left: 25%;
        top: 18%;
        width: 50%;
        border: 0;
        border-radius: 10px;
        margin: 0 auto 60px;
    }

    h2 {
        color: black;
        font-size: 40px;
        text-align: center;
    }

    form {
        padding: 5px;
        color: black;
        font-size: 15px;
        margin: 5px;
    }

    input {
        background-color: floralwhite;
        border: 2px solid saddlebrown;
        border-radius: 5px;
        margin: 0 0 0 10px;
        left: 50%;
    }

    .button {
        width: 40%;
        font-size: 25px;
        margin: 15px 15px 15px 30%;
    }

    p {
        color: black;
        margin: 15px;
        font-size: 20px;
    }

    .edit {
        text-decoration: none;
        display: inline-block;
        letter-spacing: 1px;
        margin: 10px;
        font-size: 24px;
        font-family: Futura;
        transition: .3s ease-in-out;
    }

    .edit {
        color: saddlebrown;
        text-shadow: 1px 0 black;
    }

    .edit:hover {
        transform: rotate(-5deg);
    }

    .bookreq {
        text-decoration: none;
        display: inline-block;
        letter-spacing: 1px;
        margin: 10px;
        font-size: 24px;
        font-family: Futura;
        transition: .3s ease-in-out;
    }

    .bookreq {
        color: saddlebrown;
        text-shadow: 1px 0 black;
    }

    .bookreq:hover {
        transform: rotate(-5deg);
    }

    a {
        color: black;
    }

</style>
<div class="container">
   <p>
        Username: {{ user.username }} <br>
        First name: {{ user.first_name }} <br>
        Last name: {{ user.last_name }} <br>
        Phone: {{ user.phone_number }} <br>
        Email: {{ user.email }} <br>
        Address: {{ user.address }} <br>

    <p>
        <strong>Documents in use:</strong>
    </p>
        <ul>
            {% for copy in copies %}
            <li>
                <a href="/{{copy.doc.id}}">{{ copy }}</a>
                <input type="checkbox" name="{{copy.id}}"> <br>
                Time to return: {{ copy.time_left }}<br>
            </li>
            {% endfor %}
        </ul>


    </p>

</div>
{% endblock  %}
