{% extends 'Documents/base.html'  %}
{% load staticfiles %}
{% block body  %}

<link rel="stylesheet" type="text/css" href="{% static 'UserCards/edit_style.css' %}" />

    <style>
    .container {
        background-color: rgba(214, 184, 150, 0.8);
        color: saddlebrown;
        font-size: 15px;
        margin:0 auto;
        overflow:visible;
        position:absolute;
        left: 30%;
        top: 20%;
        width: 40%;
        border-radius: 10px;
    }

    form {
        padding: 5px;
        color: black;
        font-size: 15px;
        margin: 5px;
    }

    input {
        background-color: floralwhite;
        border: 2px solid saddlebrown;
        border-radius: 5px;
        margin: 0 0 0 10px;
        left: 50%;
    }

    h2{
        color: black;
        font-size: 40px;
        text-align: center;
    }

</style>

<div class="container">
<h2>Card edit</h2>

<form action="" method="post">
    <h4>Username:</h4> <div align="center">{{ form.username }}</div> <br>
    <h4>First name:</h4> <div align="center">{{ form.first_name }}</div><br>
    <h4>Last name:</h4> <div align="center">{{ form.last_name }}</div><br>
    <h4>Email:</h4> <div align="center">{{ form.email }}</div><br>
    <h4>Status:</h4> <div align="center">{{ form.status }}</div><br>
    <h4>Phone:</h4> <div align="center">{{ form.phone_number }}</div><br>
    <h4>Address:</h4> <div align="center">{{ form.address }}</div><br>
    <input class="button" type="submit" value="Edit">
    {% csrf_token %}
</form>
</div>

{% endblock  %}
