{% extends 'Documents/base.html'  %}
<link rel="stylesheet" href="usercards_style.css">
{% block body  %}
<h1>User Card Information</h1>

Name: {{ user.name }} <br>
Phone: {{ user.phone_number }} <br>
Email: {{ user.email }} <br>
Address: {{ user.address }} <br>
Status: {{ user.status }} <br><br>
<strong>Documents in used:</strong>

<form action="/user/return_copies/" method="post">
<ul>
    {% for copy in copies %}
        <li>
            <a href="/{{copy.doc.id}}">{{ copy }}</a>
            <input type="checkbox" name="{{copy.id}}"> <br>
            Date to return: {{ copy.returning_date }}<br>
        </li>
    {% endfor %}
</ul>
    <input type="submit" value="Return back">
    {% csrf_token %}
</form>



{% endblock  %}
