{% extends 'Documents/base.html'  %}
{% load staticfiles %}
{% block body  %}

<link rel="stylesheet" type="text/css" href="{% static 'UserCards/usercards_style.css' %}" />


<h1>Patron card information</h1>

username: {{ user.username }} <br>
first name: {{ user.first_name }} <br>
last name: {{ user.last_name }} <br>
phone: {{ user.phone_number }} <br>
email: {{ user.email }} <br>
address: {{ user.address }} <br><br>

<strong>documents in used:</strong>


<form action="/user/return_copies/" method="post">
<ul>
    {% for copy in copies %}
        <li>
            <a href="/{{copy.doc.id}}">{{ copy }}</a>
            <input type="checkbox" name="{{copy.id}}"> <br>
            Time to return: {{ copy.time_left }}<br>
        </li>
    {% endfor %}
</ul>
    <input type="submit" value="Return back">
    {% csrf_token %}
</form>

<a href="/user/edit/">Edit profile</a>


{% endblock  %}
