{% extends 'Documents/base.html'  %}

{% load staticfiles %}


{% block body  %}
<link rel="stylesheet" type="text/css" href="{% static 'UserCards/login_signup_style.css' %}" />

<style>
    .container {
        background-color: rgba(214, 184, 150, 0.8);
        color: saddlebrown;
        font-size: 15px;
        margin:0 auto;
        overflow:visible;
        position:absolute;
        left: 37%;
        top: 35%;
        width: 26%;
        border-radius: 10px;
        margin-bottom: 2%;
    }

    form {
        padding: 5px;
        color: black;
        font-size: 15px;
        margin: 5px;
    }

    input {
        background-color: floralwhite;
        border: 2px solid saddlebrown;
        border-radius: 5px;
        margin: 0 0 0 10px;
        left: 50%;
    }

    h2 {
        color: black;
        font-size: 40px;
        text-align: center;
    }

    .button {
        width: 40%;
        font-size: 25px;
        margin: 15px 15px 15px 30%;
    }
</style>

<div class="container">
    <h2>Log In</h2><br>
<form method="post" >
    {{ form.as_p }}
    <input class="button" type="submit" name="submit" value="Submit" placeholder="Submit">
    {% csrf_token %}
</form>
</div>


{% endblock  %}


