{% extends 'Documents/base.html'  %}

{% load staticfiles %}


{% block body  %}

<style>

    .container {
        background-color: rgba(214, 184, 150, 0.8);
        color: saddlebrown;
        font-size: 15px;
        margin: 0 auto;
        overflow: visible;
        position: absolute;
        left: 25%;
        top: 35%;
        width: 50%;
        border-radius: 10px;
        margin-bottom: 2%;
    }

    form {
        padding: 5px;
        color: black;
        font-size: 15px;
        margin: 5px;
    }

    input {
        background-color: floralwhite;
        border: 2px solid saddlebrown;
        border-radius: 5px;
        margin: 0 0 0 10px;
        left: 50%;
    }

    h2 {
        color: black;
        font-size: 40px;
        text-align: center;
    }

</style>

<h2>User List</h2><br>
<div class="container">
<form method="GET">
    <strong>Search for users</strong><br>
    <input type="text" align="center" placeholder="by username|name|surname" name="uq" {% if uq %}
           value="{{uq}}" {% endif %}><br>
    Patrons: <input type="checkbox" name="p" class="btn btn-default" {% if p %}
           checked {% endif %}><br>
    Librarians: <input type="checkbox" name="l" class="btn btn-default" {% if l %}
           checked {% endif %} ><br>
    <input type="submit" class="button" value="Search">

</form>
    <form>
        {% for user in object_list %}
        <a href="/user/?id={{user.id}}">{{user.username}}</a> <br>
        {% endfor %}
        {% csrf_token %}
    </form>
</div>


{% endblock  %}


