{% extends 'Documents/base.html' %}

{% load staticfiles %}


{% block body %}

    <style>

        .container {
            background-color: rgba(214, 184, 150, 0.8);
            color: saddlebrown;
            font-size: 15px;
            margin: 0 auto;
            overflow: visible;
            position: absolute;
            left: 25%;
            top: 15%;
            width: 50%;
            border-radius: 10px;
            margin-bottom: 2%;
        }

        form {
            padding: 5px;
            color: black;
            font-size: 15px;
            margin: 5px;
        }

        input {
            background-color: floralwhite;
            border: 2px solid saddlebrown;
            border-radius: 5px;
            margin: 0 0 0 10px;
            left: 50%;
        }

        h2 {
            color: black;
            font-size: 40px;
            text-align: center;
        }

        .search {
            background-color: rgba(214, 184, 150, 0);
            border: none;
            width: 100%;
            margin-left: 0;
        }

        td {
            border: none;
            padding: 1%;
        }

        tr {
            border: none;
        }

        th {
            font-size: 20px;
        }

        .inp {
            width: 100%;
        }

        .right {
            text-align: right;
        }

        .users {
            font-size: 20px;
            color: black;
        }

    </style>

    <div class="container">
        <h2>User List</h2><br>
        <form method="GET">
            <table class="search">
                <th colspan="4"><strong>Search for users</strong></th>
                <tr>
                    <td><input class="inp" type="text" align="center" placeholder="by username|name|surname" name="uq"
                            {% if uq %}
                               value="{{ uq }}" {% endif %}></td>
                    <td class="right">Patrons: <input type="checkbox" name="p" class="btn btn-default" {% if p %}
                                                      checked {% endif %}></br>Librarians: <input type="checkbox"
                                                                                                  name="l"
                                                                                                  class="btn btn-default"
                            {% if l %}
                                                                                                  checked {% endif %} ></td>
                    <td><input type="submit" class="button" value="Search"></td>
                </tr>
            </table>

        </form>
        <form>
            <ul>
                {% for user in object_list %}
                    <li>
                        <a class="users" href="/user/?id={{ user.id }}">{{ user.username }}</a> <br>
                    </li>

                {% endfor %}
                {% csrf_token %}
            </ul>

        </form>
    </div>


{% endblock %}


