{% extends 'Documents/base.html'  %}

{% load staticfiles %}


{% block body  %}

<style>
    .container {
        background-color: rgba(214, 184, 150, 0.8);
        color: saddlebrown;
        font-size: 15px;
        margin: 0 auto;
        overflow: visible;
        position: absolute;
        left: 37%;
        top: 35%;
        width: 26%;
        border-radius: 10px;
        margin-bottom: 2%;
    }

    form {
        padding: 5px;
        color: black;
        font-size: 15px;
        margin: 5px;
    }

    input {
        background-color: floralwhite;
        border: 2px solid saddlebrown;
        border-radius: 5px;
        margin: 0 0 0 10px;
        left: 50%;
    }

    h2 {
        color: black;
        font-size: 40px;
        text-align: center;
    }

    .button {
        width: 40%;
        font-size: 25px;
        margin: 15px 15px 15px 30%;
    }
</style>

<h2>User List</h2><br>
<div class="container">
<form method="GET">
    <strong>Search for users</strong><br>
    <input type="text" placeholder="by username|name|surname" name="q" {% if q %}
           value="{{q}}" {% endif %}>
    <input type="submit" class="btn btn-default" value="Search">
</form>
    <form>
        {% for user in object_list %}
        <a href="/user/?id={{user.id}}">{{user.username}}</a> <br>
        {% endfor %}
        {% csrf_token %}
    </form>
</div>


{% endblock  %}


