body {
    background-color: #122b40;
    font-family: Futura;
    color: white;
    font-size: 20px;

}

input {
    padding: 5px;
    margin: 5px;
    font-size: 20px;
    font-family: Futura;

}

form {
    padding: 10px;
    margin: 5px;
}

p {
    padding: 10px;
}

#container {
    background-color: black;
    opacity: 0.7;
    color: #122b40;
    width: auto;
    padding: auto;
    display: inline-block;
}
