{% extends 'Documents/base.html' %}

{% load staticfiles %}
{% block body %}

    <style>
        .container {
            background-color: rgba(214, 184, 150, 0.8);
            color: black;
            font-size: 15px;
            overflow: visible;
            position: absolute;
            left: 35%;
            top: 10%;
            width: 30%;
            border-radius: 10px;
            margin: 1% auto 2%;
        }

        form {
            padding: 5px;
            color: black;
            font-size: 15px;
            margin: 5px;
        }

        input {
            background-color: floralwhite;
            border: 2px solid saddlebrown;
            border-radius: 5px;
            left: 50%;
            margin: 2% 0 2% 10px;
        }

        h2 {
            color: black;
            font-size: 40px;
            text-align: center;
        }

        p {
            color: black;
        }

        .black {
            color: black;
            width: 98%;
            margin: 1%;
        }

        .button {
            margin-left: 38%;
        }

    </style>

    <form action="" method="post">
        <div class="container">
            <h2>{{ model }} Creation</h2>
            {% for field in fields %}
                {% if field == 'type' %}
                    <input type="text" class="black" name='type' value='{{ model }}' hidden="hidden">
                {% else %}
                    <input class="black" type="text" name="{{ field }}" placeholder=" {{ field }}" required>
                {% endif %}
            {% endfor %}
            <input class="button" type="submit" name="submit" value="Submit">
            {% csrf_token %}
        </div>

    </form>

{% endblock %}

