{% extends 'Documents/base.html'  %}

{% load staticfiles %}
{% block body  %}
<link rel="stylesheet" type="text/css" href="{% static 'Documents/doc_inf_style.css' %}"/>

<style>
    .container {
        background-color: rgba(214, 184, 150, 0);
        color: saddlebrown;
        font-size: 15px;
        overflow: visible;
        position: absolute;
        left: 25%;
        top: 10%;
        width: 50%;
        border: 0;
        border-radius: 10px;
        margin: 0 auto 60px;
    }

    h2 {
        color: white;
        font-size: 40px;
        text-align: center;
    }

    form {
        padding: 5px;
        color: black;
        font-size: 15px;
        margin: 5px;
    }

    input {
        background-color: floralwhite;
        border: 2px solid saddlebrown;
        border-radius: 5px;
        margin: 0 0 0 10px;
        left: 50%;
    }

    .button {
        width: 40%;
        font-size: 25px;
        margin: 15px 15px 15px 30%;
    }

    p {
        color: black;
        margin: 15px;
        font-size: 20px;
    }

    a {
        color: white;
        padding-left: ;
    }

    table {
        border: none;
        border-radius: 10px;
        width: 100%;
        background-color: rgba(214, 184, 150, 0.8);
        margin: 10px;
        table-layout: auto;
    }

    tr {
        border: none;
        text-align: left;
    }

    td {
        border: none;
        text-align: left;
    }

    img {
        width: 250px;
        height: auto;
    }

    .button {
	-moz-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	-webkit-box-shadow:inset 0px 1px 0px 0px #dcecfb;
	box-shadow:inset 0px 1px 0px 0px #dcecfb;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #d69065), color-stop(1, #80b5ea) );
	background:-moz-linear-gradient( center top, #d69065 5%, #80b5ea 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#d69065', endColorstr='#80b5ea');
	background-color:#d69065;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:0;
	border:1px solid #84bbf3;
	display:inline-block;
	color:#ffffff;
	font-family:Arial;
	font-size:15px;
	font-weight:normal;
	font-style:normal;
	height:40px;
	line-height:40px;
	width:100px;
	text-decoration:none;
	text-align:center;
	text-shadow:1px 1px 0px #528ecc;
}
.button:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #80b5ea), color-stop(1, #d69065) );
	background:-moz-linear-gradient( center top, #80b5ea 5%, #d69065 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#80b5ea', endColorstr='#d69065');
	background-color:#80b5ea;
}.button:active {
	position:relative;
	top:1px;
}
/* This button was generated using CSSButtonGenerator.com */


</style>

<div class="container">
    <h2>Document information</h2>
    <table>
        <tr>
            <td><img src="{{cover}}" align="center">
                {% for key, value in fields %}
                <p>
                    {{key}}: {{value}}
                </p>
                {%endfor%}
            </td>
        </tr>
    </table>

    {% if user.is_staff %}
    <a class="button" href="update/">Update</a> <br>
    <a class="button" href="delete/" onclick="return confirm('Delete {{doc.title}}?')">Delete</a>
    {% elif user.is_authenticated and not doc.is_reference %}
    <a class="button" href="/requests/make_new/?doc={{doc.id}}" onclick="
        if ({{user_has_doc}})
            return alert('You already have this document');
        else
            return confirm('Sure you want to check out {{doc.title}}?');

        ">Request</a>
    {% endif %}
    {% endblock %}

</div>

