{% extends 'Documents/base.html'  %}

{% load staticfiles %}
{% block body  %}
<link rel="stylesheet" type="text/css" href="{% static 'Documents/doc_inf_style.css' %}"/>

<style>
    .container {
        background-color: rgba(214, 184, 150, 0);
        color: saddlebrown;
        font-size: 15px;
        overflow: visible;
        position: absolute;
        left: 25%;
        top: 10%;
        width: 50%;
        border: 0;
        border-radius: 10px;
        margin: 0 auto 60px;
    }

    h2 {
        color: white;
        font-size: 40px;
        text-align: center;
    }

    form {
        padding: 5px;
        color: black;
        font-size: 15px;
        margin: 5px;
    }

    input {
        background-color: floralwhite;
        border: 2px solid saddlebrown;
        border-radius: 5px;
        margin: 0 0 0 10px;
        left: 50%;
    }

    .button {
        width: 40%;
        font-size: 25px;
        margin: 15px 15px 15px 30%;
    }

    p {
        color: black;
        margin: 15px;
        font-size: 20px;
    }

    a {
        color: white;
        padding-left: ;
    }

    table {
        border: none;
        border-radius: 10px;
        width: 100%;
        background-color: rgba(214, 184, 150, 0.8);
        margin: 10px;
        table-layout: auto;
    }

    tr {
        border: none;
        text-align: left;
    }

    td {
        border: none;
        text-align: left;
    }

    img {
        width: 250px;
        height: auto;
    }

    .button {
        width: 40%;
        font-size: 25px;
        background-color: floralwhite;
        color: black;
        border-radius: 10px;
        border: 3px solid saddlebrown;
        padding: 5px;
        margin: 10px;
        position: relative;
        left: 30%;
    }

    .button:hover {
        text-decoration: none;
        color: black;
    }


</style>
<div class="container">
    <h2>Document information</h2>
    <table>
        <tr>
            <td>
                {% for key, value in fields %}
                <p>
                    {{key}}: {{value}}
                </p>
                {%endfor%}
            </td>
        </tr>
    </table>

    {% if user.is_staff %}
    <a class="btn" href="update/">Update</a> <br>
    <a class="btn" href="delete/" onclick="return confirm('Delete {{doc.title}}?')">Delete</a>
    {% elif user.is_authenticated %}
    <a class="button" href="/requests/make_new/?doc={{doc.id}}" onclick="
        if ({{user_has_doc}})
            return alert('You already have this document');
        else
            return confirm('Sure you want to check out {{doc.title}}?');

        ">Request</a>
    {% endif %}
    {% endblock %}

</div>

