<!doctype html>

<html lang="en">
<head>
    <title>MainPage</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

{% extends 'Documents/base.html'  %}

{% load staticfiles %}


{% block body  %}
 <link rel="stylesheet" type="text/css" href="{% static 'Documents/style.css' %}" />


<h1>Welcome to Innopolka!</h1><br>

<h3>Documents available: </h3>



<form action="" method="post">

<table>

    <tr>
        <th colspan="2">Document</th>
        <th>Authors</th>
        <th>Amount</th>
    </tr>

    <tr>
        {% for doc in documents %}
        <td><img src={{doc.cover}}></td>
        <td><a href="/{{ doc.id }}/">{{ doc.title }}</a></td>
        <td>{{doc.authors}}</td>
        <td>{{doc.copies}}</td>
    </tr>
       {% endfor %}

</table>

    {% csrf_token %}
</form>

<div class="paginator">
     <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>


{% endblock  %}

