<!DOCTYPE html>

<html lang="en">
<head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <meta charset="UTF-8">
    <title>MainPage</title>
    {% load staticfiles %}
    <link rel="stylesheet" href="{% static 'css/documents_table_style.css' %}" type="text/css">
</head>
<body>
 <p><a href="/user/signup">SignUp</a></p>
 <p><a href="/user/login">LogIn</a></p>
<h1>Welcome to Innopolka</h1><br>

<h3>Documents available: </h3>

<form action="/search/" method="get">
        <input type="text" name="q">
        <input type="submit" value="Search">
</form>

<form action="" method="post">

<table>
    <tr>
        <th colspan="2">Document</th>
        <th>Amount</th>
        <th>Add</th>
    </tr>
    <tr>
        {% for doc in documents %}
        <td><img src={{doc.cover}}></td>
        <td><a href="/{{ doc.id }}/">{{ doc.title }}</a></td>
        <td>{{doc.copies}}</td>
        <td><input name="{{ doc.id }}" type="checkbox"></td>
    </tr>
       {% endfor %}
</table>
    <input type="submit" value="Submit">
    <input type="reset" value="Reset">
    {% csrf_token %}
</form>

<div class="paginator">
     <span class="step-links">
        {% if documents.has_previous %}
            <a href="?page={{ documents.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ documents.number }} of {{ documents.paginator.num_pages }}.
        </span>

        {% if documents.has_next %}
            <a href="?page={{ documents.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>

<a href="/user/">User Card Information</a>
</body>
</html>

