body {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "PT Sans", sans-serif;
}

.paginator {
    width: 345px;
    margin: 30px auto;
    padding: 10px;
    white-space: nowrap;
    background: #ecf0f1;
}

.paginator a,
.paginator span {
    display: inline-block;
    min-width: 20px;
    height: 40px;
    padding: 0 10px;
    text-align: center;
    vertical-align: middle;
    line-height: 40px;
    text-decoration: none;
    font-weight: bold;
    color: white;
    background: #95a5a6;
}

.paginator .prev {
    margin-right: 20px;
    text-indent: -1000px;
    background-repeat: no-repeat;
    background-position: 0 0;
}

.paginator .next {
    margin-left: 20px;
    text-indent: -1000px;
    background-repeat: no-repeat;
    background-position: 0 -40px;
}

.paginator .current {
    background-color: #16a085;
}

.paginator .disabled {
    opacity: 0.3;
}

.paginator a:hover {
    background-color: #2ecc71;
}