{% extends 'Documents/base.html'  %}

{% load staticfiles %}
{% block body  %}

<style>
    .container {
        background-color: rgba(214, 184, 150, 0.8);
        color: saddlebrown;
        font-size: 15px;
        overflow:visible;
        position:absolute;
        left: 38%;
        top: 10%;
        width: 24%;
        border-radius: 10px;
        margin: 0 auto 1%;
    }

    form {
        padding: 5px;
        color: black;
        font-size: 15px;
        margin: 5px;
    }

    input {
        background-color: floralwhite;
        border: 2px solid saddlebrown;
        border-radius: 5px;
        margin: 0 0 0 10px;
        left: 50%;
    }

    h2 {
        color: black;
        font-size: 40px;
        text-align: center;
    }



</style>

<div class="container">
    <form action="" method="post">

        {% for key, value in fields %}
        {% if key == 'publication_date' %}
        {{key}}:
        <p><input type="date" name="{{key}}" value="{{value}}" placeholder="YYYY-MM-DD"></p>
        {% elif key == 'type' %}
        <input type="text" hidden="hidden" name="{{key}}" value="{{value}}">
        {% else %}
        {{key}}:
        <p>
            <input type="text" name="{{key}}" value="{{value}}">
        </p>
        {% endif %}
        {%endfor%}
        <center><input class="button" type="submit" name="submit" value="Submit"></center>
        {% csrf_token %}
    </form>

    {% endblock %}
</div>